<html>
    <head>
        <link rel = "stylesheet" href = "bootstrap.min.css">
        <link rel = "stylesheet" href = "home.css">
    </head>
   <body>

    <h1 style = "text-align: center;">Results! </h1>
    <p>Answer 1</p>
    <img src = "<%=answers[0]%>">

    <p>Answer 2</p>
    <img src = "<%=answers[1]%>">

    <p>Answer 3</p>
    <img src = "<%=answers[2]%>">

    <p>Answer 4</p>
    <img src = "<%=answers[3]%>">

    <p>Answer 5</p>
    <img src = "<%=answers[4]%>">

    <p>Answer 6</p>
    <img src = "<%=answers[5]%>">

    <p>Answer 7</p>
    <img src = "<%=answers[6]%>">

    <p>Answer 8</p>
    <img src = "<%=answers[7]%>">

    <p>Answer 9</p>
    <img src = "<%=answers[8]%>">

    <p>Answer 10</p>
    <img src = "<%=answers[9]%>">

    <p>Answer 11</p>
    <img src = "<%=answers[10]%>">

    <p>Answer 12</p>
    <img src = "<%=answers[11]%>">

    <p>Answer 13</p>
    <img src = "<%=answers[12]%>">

    <p>Answer 14</p>
    <img src = "<%=answers[13]%>">

    <p>Answer 15</p>
    <img src = "<%=answers[14]%>">

    <p>Answer 16</p>
    <img src = "<%=answers[15]%>">

    <p>Answer 17</p>
    <img src = "<%=answers[16]%>">

    <p>Answer 18</p>
    <img src = "<%=answers[17]%>">

    <p>Answer 19</p>
    <img src = "<%=answers[18]%>">

    <p>Answer 20</p>
    <img src = "<%=answers[19]%>">

    </body>
    </html>